.no-row-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    .ant-empty-img-1 {
        fill: #aeb8c2;
    }
    .ant-empty-img-2 {
        fill: #f5f5f7;
    }
    .ant-empty-img-3 {
        fill: #dce0e6;
    }
    .ant-empty-img-4 {
        fill: #fff;
    }
    .ant-empty-img-5 {
        fill-opacity: 0.8;
        fill: #f5f5f5;
    }
}