.page-header-paper {
  background-color: "#fdfdff";
  .pageHeader {
    display: flex;
    padding: 32px;
    margin-bottom: 16px;
  }
  .pageIcon {
    display: inline-block;
    padding: 16px;
    color: #3c44b1;
  }
  .pageTitle {
    padding-left: 32px;

    & .MuiTypography-subtitle2 {
      opacity: 0.6;
    }
  }
}
