.Join {
    display: flex;
    padding: 0 2rem;
    gap: 10rem;
  }
  
  .left-j {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
  }
  
  .left-j > hr {
    position: absolute;
    width: 10.5rem;
    border: 2px solid #f48915;
    border-radius: 20%;
    margin: -10px 0;
  }
  
  .left-j>div{
      display: flex;
      gap: 1rem;
  }
  
  .right-j{
      display: flex;
      justify-content: center;
      align-items: flex-end;
      font-size: 15px;
  }
  
  .email-container{
      display: flex;
      gap: 3rem;
      background-color: gray;
      padding: 1rem;
  }
  
  .email-container>input{
      background-color: transparent;
      border: none;
      outline: none;
      color: #D9D9D9;
      font-size: 25px;
  }
  
  ::placeholder{
      color: #D9D9D9;
  }
  
  .btn-j{
      background-color: #f48915 !important;
      color: white;
      font-size: 25px;
  }