.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
}

.header-left{
    display: flex;
}

.header-middle {
    display: flex;
    flex: 0.7;
    align-items: center;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
}

.header-middle>.MuiSvgIcon-root {
    color: gray;
}

.header-middle > input {
    border: none;
    width: 100%;
    padding: 10px;
    font-size: medium;
    background-color: transparent;
}