.sidebaroption {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  color: #818181;
}

.sidebaroption > .MuiSvgIcon-root {
  padding: 5px;
}

.sidebaroption:hover,
.sidebaroption:hover > p,
.sidebaroption:hover > h3,
.sidebar--active,
.sidebar--active > p,
.sidebar--active > h3 {
  background-color: #fcecec;
  color: #c04b37;
  font-weight: 800 !important;
}

.sidebaroption > h3 {
  flex: 1;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 400;
}

.sidebaroption > p {
  display: none;
  font-weight: 300;
}

.sidebaroption:hover > p {
  display: inline;
}

.sidebar--active > p {
  display: inline !important;
}
