.rate-one {
  float: left;
  border-radius: 5px;
  padding-left: 40px;
  padding-right: 30px;
  padding-top: 10px;
  background-color: aliceblue;
  margin-top: 1.5rem;
  width: -webkit-fill-available;
  .avatar-rate {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    border-style: none;
    border-radius: 50%!important;
  }
  .rator-name {
    font-size: 1.5rem;
  }
}

.rate-one h4,
.rate-one span {
  display: inline;
}

h1,
h4 {
  font-weight: bold;
}
