.payment-container {
  background-image: url(https://test-payment.momo.vn/v2/gateway/images/patterns-top-8798bded624d9753dfca0c384e7285d4.svg),
    url(https://test-payment.momo.vn/v2/gateway/images/patterns-right-top-cd70568af30a75980ad270f2d05e936d.svg),
    url(https://test-payment.momo.vn/v2/gateway/images/pat…right-bottom-29112134a9e489e00a86fccbc9d673d6.svg),
    linear-gradient(to top, #fff, #fffbfe);
  background-repeat: no-repeat, no-repeat, no-repeat, repeat-x;
  background-position: left top, right top, right bottom;
}

.logo-wrap {
  position: relative;
  .logo-momo {
    width: 50px;
    height: 50px;
  }
  .logo-title {
    font-weight: 400;
    padding-left: 6px;
    position: absolute;
    top: 17%;
  }
}
