.sidebar {
  flex: 1;
  border-right: 0.5px solid rgb(230, 227, 227);
  min-height: 100vh;
  background-color: #313a46;

  .top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    .logo {
      font-size: 25px;
      font-weight: bold;
      color: white;
    }
  }

  hr {
    height: 0;
    border: 0.5px solid rgb(230, 227, 227);
  }

  .center {
    padding-left: 10px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      .title {
        font-size: 20;
        font-weight: bold;
        color: #999;
        margin-top: 15px;
        margin-bottom: 15px;
      }

      .link-nav {
        text-decoration: none;
      }

      li {
        display: flex;
        align-items: center;
        padding: 5px;
        cursor: pointer;

        &:hover {
          background-color: #ece8ff;
        }

        .icon {
          font-size: 15px;
          color: #8391a2;
          padding-right: 10px;
          padding-left: 25px;
        }

        span {
          font-size: 15px;
          font-weight: 600;
          color: #888;
        }
      }
    }
  }
}
.active-link {
  color: red;
}
